.h-full.h-screen {
  height: 100vh;
}
.h-full.h-screen > .viewport {
  margin: 0 auto;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.flex-1 {
  flex: 1 1 0%;
}

.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.w-12 {
  width: 3rem;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.block {
  display: block;
}

.gOYzhO {
  cursor: move;
}
.ewQdUs {
  margin-right: 10px;
  opacity: 0.5;
  cursor: not-allowed;
}
.cursor-pointer {
  cursor: pointer;
}
.fyRSDH {
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.htjKlW {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 15px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-size: 13px;
}
.eBDNSu {
  width: 100%;
  height: 45px;
  z-index: 99999;
  position: relative;
  padding: 0px 10px;
  background: rgb(212, 212, 212);
  display: flex;
}
.transition {
  transition: .4s cubic-bezier(.19,1,.22,1);
}

.bg-white {
  background-color:rgb(255, 255, 255);
}

.pb-2 {
  padding-bottom: 0.5rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.m-2 {
  margin: 0.5rem;
}
.px-2 {
  
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pb-8 {
  padding-bottom: 2rem;
}
.bg-renderer-gray {
  background-color: rgb(224,224,224);
}
.bg-primary {
  background-color: rgb(38,128,235);
}

.text-light-gray-2 {
  color: rgb(128,128, 128);
}
.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}
.text-white {
  color: rgb(255, 255, 255);
}

.component-selected {
  position: relative;
}
.component-selected::after {
  content: " ";
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  border: 1px dashed rgb(38, 128, 235)
}